.container{
  padding: 2rem;
}

form{
  display: flex;
  gap: 2rem;
}

.data-card{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  gap: 1rem;
}

.data{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}